SECRET_KEY_BASE=DKaayGHtzQJFsdBK4HfamYXCdSd4aOLV7T5+XY+9XzIKuoUWYwMhJH+/U2N/7zkf
INTERNAL_API_AUTH_TOKEN=internal_api_auth_token
DAEMON_HMAC_KEY=VlCkxXLjzaFravvNSPpOdoAffaQHRNVHeSBNWUcfLDYTYHuaYQsWwyCjrSJAJUSr
POSTGRES_PASSWORD=tmate
EXTERNAL_FQDN=tmate.koralsky.pl
